*{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    background-color:black;
    height: 60px;
    padding: 18px;
    box-sizing: border-box;
}

header > a{
    text-decoration: none;
    color: white;
    margin: 0px 20px;
}

header > a:hover{
    color: rgb(235, 45, 83);
    transition: 0.5s;
}

form > h1{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Caveat', cursive;
}

section > form{
    width: 800px;    
    background-image: linear-gradient(to bottom,#483f41, rgb(74 59 62));
    margin:25px auto;
    padding: 40px;
    box-shadow: 4px 10px 50px grey;
}

section > form > label {
    font-size: 20px;
    color: white;
    display: block;
    width: 300px;
    margin: 5px auto;
}

section > form > input, address{
    padding: 10px;
    margin: 3px;
    border: none;
    display: block;
    width: 300px;
    margin: auto;
    border-radius: 5px;
}

section > form > address{
    color: white;
    font-size: 20px;
}

section > form > address > a{
 color: white;
 text-decoration: none;
 cursor: pointer;
}

section > form > address > a:hover{
    color: white;
    text-decoration: none;
    color: rgb(235, 45, 83);
}

section > form > input[type="button"] {
    background-color: white;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Caveat', cursive;
    padding: 5px;
}

input[type="button"]:hover {
    color: white;
    background-color: #000000;
    transition: 0.5s;
}

footer{
    background-color: black;
    padding: 50px;
    text-align: center;      
}

footer > a{
    text-decoration: none;
    color: white;
    margin: 0px 20px;
}

footer > a:hover{
    color: rgb(235, 45, 83);
    transition: 0.5s;
}